.git
.github
.venv
venv
__pycache__
.pytest_cache
.mypy_cache
.coverage
htmlcov
*.pyc
*.pyo
*.pyd
.env
.env.*
tests
dev_requirements.in
dev_requirements.txt
test_requirements.in
test_requirements.txt
terraform.tfvars
*.tfstate
*.tfstate.*